<div class="container-fluid">
    <div class="product-nav col-lg-10 col-md-10 col-12 row">
        <div class="dropdown col-12 d-block d-lg-none d-md-none ">
            <button class="btn btn-light dropdown-toggle col-12" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              All cosmetic
            </button>
            <ul class="dropdown-menu col-11">

                <li><a class="dropdown-item" routerLink="allcosmetic/lipstick">Lipstick</a></li>
                <li><a class="dropdown-item" routerLink="allcosmetic/mascara">Mascara</a></li>
                <li><a class="dropdown-item" routerLink="allcosmetic/cleanser">Cleanser</a></li>
            </ul>
        </div>

        <div class="col-lg-4 col-md-3 col-4 d-none d-lg-inline d-md-inline text-center product-nav-cosmetic">
            <a routerLink="/allcosmetic/lipstick">
                <h3>Lipstick</h3>
            </a>
        </div>
        <div class="col-lg-4 col-md-3 col-4 d-none d-lg-inline d-md-inline text-center product-nav-jwelry">
            <a routerLink="/allcosmetic/mascara">
                <h3>Mascara</h3>
            </a>
        </div>
        <div class="col-lg-4 col-md-3 col-4 d-none d-lg-inline d-md-inline text-center product-nav-cosmetic">
            <a routerLink="/allcosmetic/cleanser">
                <h3>Cleanser</h3>
            </a>
        </div>
    </div>
</div>