<div class="container-fluid">
    <header class="row align-self-center">
        <div class="logo col-6 col-lg-2 col-md-2 col-6 text-center align-self-center">
            <a routerLink="">
                <h2>HLS</h2>
            </a>
        </div>
        <div class="col-lg-1 col-md-1 col-3 d-block d-lg-none d-md-none text-center align-self-center" style="margin-bottom: 3%;">
            <div class="btn-group" style="padding: 0; margin: 0;">
                <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false" style="padding: 20%;">
                             <i class="fa fa-user" aria-hidden="true" style="font-size: 24px;"></i>
                        </button>
                <ul class="dropdown-menu dropdown-menu dropdown-menu-lg-end">
                    <li><button class="dropdown-item" type="button"><a routerLink="login">Login</a></button></li>
                    <li><button class="dropdown-item" type="button"><a routerLink="signup">Sign up</a></button></li>

                </ul>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-3 d-block d-lg-none d-md-none text-center align-self-center" style="margin-bottom: 3%;">
            <h3>
                <a routerLink="cart"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a>
            </h3>
        </div>
        <div class="col-lg-8 col-md-8 col-12 align-self-center">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>

        <div class="col-lg-1 col-md-1 col-1 d-none d-lg-block d-md-block text-center align-self-center">
            <div class="btn-group" style="padding: 0; margin: 0;">
                <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false" style="padding: 20%;">
                             <i class="fa fa-user" aria-hidden="true" style="font-size: 24px;"></i>
                        </button>
                <ul class="dropdown-menu dropdown-menu dropdown-menu-lg-end">
                    <li><button class="dropdown-item" type="button"><a routerLink="login">Login</a></button></li>
                    <li><button class="dropdown-item" type="button"><a routerLink="signup">Sign up</a></button></li>

                </ul>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-1 d-none d-lg-block d-md-block text-center align-self-center">
            <h3>
                <a routerLink="cart"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a>
            </h3>
        </div>

    </header>
    <nav class="duel-nav row col-lg-10 col-md-10 col-12">
        <div class="col-lg-3 col-md-3 col-6 text-center duel-nav-jwelry">
            <a routerLink="alljwelry">
                <h1>Jwelry</h1>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-6 text-center duel-nav-cosmetic">
            <a routerLink="allcosmetic">
                <h1>Cosmetic</h1>
            </a>
        </div>
    </nav>

</div>