<div class="container-fluid">
    <main>
        <div class="col-lg-10 col-md-10 text-center header">
            <h2>3 FOUNDERS</h2>
        </div>
        <div class="col-lg-10 col-md-10 img row" style="justify-content: space-between;">
            <div class="card col-lg-3 col-md-3 col-12">
                <img src="../../../assets/image/founder1.png" class="card-img-top" alt="...">
                <div class="card-body text-center ">
                    <h3 class="card-title">Bui Minh Hieu</h3>
                    <h3 class="card-text">Artist</h3>
                </div>
            </div>
            <div class="text1 col-lg-8 col-md-8 col-12 d-flex align-items-center">
                <h1>Born in 2001, a young man from Vietnam with a passion for beauty travels around the world to meet a lot of people. His travels became an inspiration to his friends. </h1>
            </div>
        </div>

        <div class="col-lg-10 col-md-10 img row" style="justify-content: space-between;">
            <div class="card col-lg-3 col-md-3">
                <img src="../../../assets/image/founder2.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center ">
                    <h3 class="card-title">Nguyen Minh Sang</h3>
                    <h3 class="card-text">Jeweler</h3>
                </div>
            </div>
            <div class="text1 col-lg-8 col-md-8 d-flex align-items-center">
                <h1>The genius jeweler was born in 2003 in Vietnam. Winner of many jewelry design and fabrication competitions around the world. With the desire to create the most amazing pieces of jewelry, he learns and gets inspired by his friend's travels.
                </h1>
            </div>
        </div>

        <div class="col-lg-10 col-md-10 img row" style="justify-content: space-between;">
            <div class="card col-lg-3 col-md-3">
                <img src="../../../assets/image/founder1.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center ">
                    <h3 class="card-title">Ali Tran</h3>
                    <h3 class="card-text">Model</h3>
                </div>
            </div>
            <div class="text1 col-lg-8 col-md-8 d-flex align-items-center">
                <h1>Young Vietnamese supermodel, creator of fashion and beauty trends. With the maxim, "There are no ugly women, only lazy ones," she wants every woman in the world to be beautiful. </h1>
            </div>
        </div>
        <div class="col-lg-10 col-md-10 text-center header">
            <h2>About HLS</h2>
        </div>
        <div class="text2 col-lg-10 col-md-10 d-flex align-items-center">
            <h1>With a bold thought about creating high-quality but cheap cosmetic and jewelry products, Hieu, Lan and Sang created HLS company. HLS offers high-quality cheap jewelry and cosmetics products. Rising from scratch, they have gained a foothold
                in the market for women. One day, they will become the ones who inspire young people to follow their dreams.</h1>
        </div>
    </main>
</div>