<app-productmenu2>
</app-productmenu2>
<div class="container-fluid text-center">

    <div class="col-lg-12 name-bar" style="margin: 0 auto; margin-bottom: 3%; margin-top: 3%; border-top: 1px solid black; border-bottom: 1px solid black; font-family: Italiana;">
        <h3 class="col-lg-10">Cosmetic / All cosmetic
        </h3>
    </div>

    <main>
        <div class="col-lg-10 col-md-10 product-roll product-roll-bestseller text-center">
            <h2>BEST SELLER</h2>
            <owl-carousel-o [options]=" customOptions ">
                <ng-template carouselSlide *ngFor="let item of allcosmetic">
                    <a (click)="sang(item.id)" class="col-lg-3 col-md-4 col-6">
                        <div class="card">
                            <img class="card-img-top" src="{{item.img}}" alt="">
                            <img class="change-img" src="{{item.img2}}">
                            <div class="card-body">
                                <h4 class="card-title">{{item.name}}</h4>
                                <p class="card-text">{{item.price}}$</p>
                            </div>
                        </div>
                    </a>
                </ng-template>
            </owl-carousel-o>

        </div>
        <div class="col-lg-10 col-md-10 product-roll product-roll-bestseller text-center">
            <h2>NEW ARRIVE</h2>
            <owl-carousel-o [options]=" customOptions ">
                <ng-template carouselSlide *ngFor="let item of allcosmetic">
                    <a (click)="sang(item.id)" class="col-lg-3 col-md-4 col-6">
                        <div class="card">
                            <img class="card-img-top" src="{{item.img}}" alt="">
                            <img class="change-img" src="{{item.img2}}">
                            <div class="card-body">
                                <h4 class="card-title">{{item.name}}</h4>
                                <p class="card-text">{{item.price}}$</p>
                            </div>
                        </div>
                    </a>
                </ng-template>
            </owl-carousel-o>
        </div>
        <div class="product col-lg-10 text-center">
            <h2>
                ALL COSMETIC
            </h2>
            <div class=" all row ">
                <div class="col-lg-3 col-md-4 col-6" *ngFor="let item of allcosmetic">
                    <a (click)="sang(item.id)">
                        <div class="card">
                            <img class="card-img-top" src="{{item.img}}" alt="">
                            <img class="change-img" src="{{item.img2}}">
                            <div class="card-body">
                                <h4 class="card-title">{{item.name}}</h4>
                                <p class="card-text">{{item.price}}$</p>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>


    </main>
</div>