<div class="container-fluid">


    <main>
        <div class="product col-12 col-lg-10 col-md-10 row">
            <div class="col-6 col-lg-6 col-md-6 product-img">
                <div class="product-main-img col-12 col-lg-12 col-md-12">
                    <img src="{{detail.img}}" width="100%">
                </div>
                <div class="product-other-img col-12 col-lg-12 col-md-12 row ">
                    <div class="col-6 col-lg-6 col-md-6 left">
                        <img src="{{detail.img2}}" width="100% ">
                    </div>
                    <div class="col-6 col-lg-6 col-md-6 right">
                        <img src="{{detail.img3}}" width="100% ">
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-6 col-md-6 product-detail">
                <h1 class="name ">{{detail.name}}</h1>
                <h2>Price: {{detail.price}}$</h2>
                <div class="d-none d-lg-block d-md-block" style="background: gainsboro; padding: 3%; margin-bottom: 3%;">
                    <h3>
                        Premium silver rings designed in a minimalist style will help you fit all kinds of styles. A little stylization gives itself extra originality. Why do you have to wear the bottom burn of your finger, but why don't you try a move to the 2nd burn of your
                        finger to completely "mess up ".
                    </h3>
                </div>
                <div class="row col-12 align-items-center align-self-center">
                    <div class="qty col-12 col-lg-6 col-md-6" style="margin-bottom: 5%;">
                        <div class="text3 col-12 col-lg-12 col-md-12 d-flex align-items-center ">
                            <button data-value="- " class="col-4 ">-</button>
                            <input readonly disabled type="text " value="1 " id="qty " class="col-4 ">
                            <button data-value="+ " class="col-4 ">+</button>
                        </div>
                    </div>
                    <div class="dt-size col-12 col-lg-6 col-md-6">
                        <button class="btn-size btn-dark" tabindex="1">S</button>
                        <button class="btn-size btn-dark" tabindex="1">M</button>
                        <button class="btn-size btn-dark" tabindex="1">L</button>
                        <button class="btn-size btn-dark" tabindex="1">XL</button>
                    </div>
                </div>
                <button class="col-12 col-lg-6 col-md-6 align-items-center align-self-center" style=" margin: 0 auto; margin-top: 2%; background: rgb(80, 80, 255); color: white;" onclick="cart"><h3>Add to cart</h3></button>
            </div>
            <div class="d-block d-lg-none d-md-none col-12" style="background: gainsboro; padding: 3%; margin-top: 3%;">
                <h3>
                    Premium silver rings designed in a minimalist style will help you fit all kinds of styles. A little stylization gives itself extra originality. Why do you have to wear the bottom burn of your finger, but why don't you try a move to the 2nd burn of your
                    finger to completely "mess up ".
                </h3>
            </div>

        </div>


        <div class="comment col-12 col-lg-10 col-md-10" style="margin: 0 auto; border-top: 1px solid black; padding-top: 3%; padding-bottom: 3%; margin-bottom: 3%; border-bottom: 1px solid black;">
            <div class="cmt-rate">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-12">
                        <h4 class="mb-4">1 review for </h4>
                        <div class="row review row" style="margin-bottom: 3%; border-bottom: 1px solid gainsboro;">
                            <img src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.15752-9/278183528_354367306757387_767945845027844238_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=ae9488&_nc_ohc=HM0BoHf-bgYAX8WKOik&_nc_ht=scontent.fhan2-4.fna&oh=03_AVJXy5o1kv3F_-Fyex9LoNi70oqbHmr7bFFvMV8I_u-q5g&oe=6332CED1"
                                alt="Image" class="col-4 col-lg-4 col-md-4" height="100%">
                            <div class="media-body col-8 col-lg-8 col-md-8">
                                <h6>John Doe<small> - <i>01 Jan 2045</i></small></h6>
                                <div class="text-primary mb-2">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                    <i class="far fa-star"></i>
                                </div>
                                <p class="d-none d-lg-block d-md-block">Diam amet duo labore stet elitr ea clita ipsum, tempor labore accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed sed eirmod ipsum.</p>
                            </div>
                            <p class="d-block d-lg-none d-md-none d-12" style="margin-top: 3%; ">Diam amet duo labore stet elitr ea clita ipsum, tempor labore accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed sed eirmod ipsum.</p>
                        </div>
                        <div class="row review " style="margin-bottom: 3%; border-bottom: 1px solid gainsboro;">
                            <img src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.15752-9/278183528_354367306757387_767945845027844238_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=ae9488&_nc_ohc=HM0BoHf-bgYAX8WKOik&_nc_ht=scontent.fhan2-4.fna&oh=03_AVJXy5o1kv3F_-Fyex9LoNi70oqbHmr7bFFvMV8I_u-q5g&oe=6332CED1"
                                alt="Image" class="col-4 col-lg-4 col-md-4" height="100%">
                            <div class="media-body col-8 col-lg-8 col-md-8">
                                <h6>John Doe<small> - <i>01 Jan 2045</i></small></h6>
                                <div class="text-primary mb-2">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                    <i class="far fa-star"></i>
                                </div>
                                <p class="d-none d-lg-block d-md-block">Diam amet duo labore stet elitr ea clita ipsum, tempor labore accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed sed eirmod ipsum.</p>
                            </div>
                            <p class="d-block d-lg-none d-md-none d-12" style="margin-top: 3%;">Diam amet duo labore stet elitr ea clita ipsum, tempor labore accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed sed eirmod ipsum.</p>
                        </div>
                        <div class="row review " style="margin-bottom: 3%; border-bottom: 1px solid gainsboro;">
                            <img src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.15752-9/278183528_354367306757387_767945845027844238_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=ae9488&_nc_ohc=HM0BoHf-bgYAX8WKOik&_nc_ht=scontent.fhan2-4.fna&oh=03_AVJXy5o1kv3F_-Fyex9LoNi70oqbHmr7bFFvMV8I_u-q5g&oe=6332CED1"
                                alt="Image" class="col-4 col-lg-4 col-md-4" height="100%">
                            <div class="media-body col-8 col-lg-8 col-md-8">
                                <h6>John Doe<small> - <i>01 Jan 2045</i></small></h6>
                                <div class="text-primary mb-2">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                    <i class="far fa-star"></i>
                                </div>
                                <p class="d-none d-lg-block d-md-block">Diam amet duo labore stet elitr ea clita ipsum, tempor labore accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed sed eirmod ipsum.</p>
                            </div>
                            <p class="d-block d-lg-none d-md-none d-12" style="margin-top: 3%;">Diam amet duo labore stet elitr ea clita ipsum, tempor labore accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed sed eirmod ipsum.</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <h4 class="mb-4">Leave a review</h4>
                        <small>Your email address will not be published. Required fields are marked *</small>
                        <div class="d-flex my-3">
                            <p class="mb-0 mr-2">Your Rating * :</p>
                            <div class="text-primary">
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>

                        <form>
                            <div class="form-group" style="margin-bottom: 3%;">
                                <label for="message" style="margin-bottom: 3%;">Your Review *</label>
                                <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                            </div>
                            <div class="form-group" style="margin-bottom: 3%;">
                                <label for="name" style="margin-bottom: 3%;">Your Name *</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group" style="margin-bottom: 3%;">
                                <label for="email" style="margin-bottom: 3%;">Your Email *</label>
                                <input type="email" class="form-control" id="email">
                            </div>
                            <div class="form-group mb-0">
                                <input type="submit" value="Leave Your Review" class="btn btn-primary px-3">
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10 col-md-10 product-roll product-roll-bestseller text-center" style="margin-bottom: 3%;">
            <h2>MORE PRODUCT</h2>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <a href="detail.html" class="col-lg-3 col-md-4 col-6">
                        <div class="card">
                            <img class="card-img-top" src="img/ring/ring1.jpg" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Ring 1</h4>
                                <p class="card-text">100$</p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="item">
                    <a href="detail.html" class="col-lg-3 col-md-4 col-6">
                        <div class="card">
                            <img class="card-img-top" src="img/ring/ring2.jpg" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Ring 2</h4>
                                <p class="card-text">100$</p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="item">
                    <a href="detail.html" class="col-lg-3 col-md-4 col-6">
                        <div class="card">
                            <img class="card-img-top" src="img/ring/ring3.jpg" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Ring 3</h4>
                                <p class="card-text">100$</p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="item">
                    <a href="detail.html" class="col-lg-3 col-md-4 col-6">
                        <div class="card">
                            <img class="card-img-top" src="img/ring/ring4.jpg" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Ring 4</h4>
                                <p class="card-text">100$</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </main>

</div>