<div class="container-fluid">
    <footer>
        <div class="col-lg-10 col-md-10 col-12 row ">
            <div class=" col-lg-4 col-md-3 col-12 " style="padding-bottom: 5%; ">
                <h3>HEAD OFFICE</h3>
                <h5>Tòa Nhà HTC, 250 Hoàng Quốc Việt, Cổ Nhuế, Cầu Giấy, Hà Nội, Việt Nam</h5>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.658538439063!2d105.78131221424565!3d21.04634449255521!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab3b4220c2bd%3A0x1c9e359e2a4f618c!2sB%C3%A1ch%20Khoa%20Aptech!5e0!3m2!1svi!2s!4v1660224757762!5m2!1svi!2s "
                    width="100% " allowfullscreen=" " loading="lazy " referrerpolicy="no-referrer-when-downgrade "></iframe>
            </div>
            <div class="col-lg-4 col-md-6 col-12 " style="line-height: 36px; padding-bottom: 5%; ">
                <h3>CONTACT US</h3>
                <h4>Many ways to contact us</h4>
                <div class="col-lg-12 col-md-12 col-12 ">
                    <i class="fab fa-facebook col-lg-2 col-md-2 col-2 "></i>
                    <span class="col-lg-10 col-md-10 col-10 ">Facebook.com/nooneknow</span>
                </div>
                <div class="col-lg-12 col-md-12 col-12 ">
                    <i class="fab fa-twitter col-lg-2 col-md-2 col-2 "></i><span class="col-lg-10 col-md-10 col-10 ">Tweeter.com/nooneknow</span>
                </div>
                <div class="col-lg-12 col-md-12 col-12 ">
                    <i class="fab fa-instagram col-lg-2 col-md-2 col-2 "></i><span class="col-lg-10 col-md-10 col-10 ">Istagram.com/nooneknow</span>
                </div>
                <div class="col-lg-12 col-md-12 col-12 ">
                    <i class="fab fa-telegram col-lg-2 col-md-2 col-2 "></i><span class="col-lg-10 col-md-10 col-10 ">Telegram.com/nooneknow</span>
                </div>
                <div class="col-lg-12 col-md-12 col-12 ">
                    <i class="far fa-envelope col-lg-2 col-md-2 col-2 "></i><span class="col-lg-10 col-md-10 col-10 ">noneknow@gmail.com</span>
                </div>
                <div class="col-lg-12 col-md-12 col-12 ">
                    <i class="fa fa-phone col-lg-2 col-md-2 col-2 "></i><span class="col-lg-10 col-md-10 col-10 ">0123456789</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-3 col-12 " style="line-height: 36px; ">
                <h3>SHIPPING</h3>
                <h4>Far away? Dont worry</h4>
                <i class="fas fa-truck col-lg-1 col-md-1 col-2"></i><span class="col-lg-11 col-md-11 col-10 ">Free ship </span><br>
                <i class="fas fa-shipping-fast col-lg-1 col-md-1 col-2"></i><span class="col-lg-11 col-md-11 col-10 ">Shipping fast</span><br>

            </div>
        </div>
    </footer>
</div>