<!-- <div class="bannershop" style="background-image: url(assets/images/bannershop.png);">
    <div class="text">
        <h1>Đăng ký</h1>
    </div>
</div> -->

<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-12 col-sm-12 col-12">
            <div class="account_form">
                <h3>Registration</h3>
                <form action="" [formGroup]="formSigup" (ngSubmit)="onSubmit()">

                    <div class="default-form-box"><label> UserName <span>*</span></label> <input type="" class="form-control" formControlName="userName">
                        <div *ngIf="f.userName.invalid && (f.userName.dirty || f.userName.touched )">
                            <div *ngIf="f.userName.errors">
                                <div *ngIf="f.userName.errors.required">
                                    <small id="userHelp" class="form-text text-danger">Can't be left blank</small>
                                </div>
                                <div *ngIf="f.userName.errors.minlength">
                                    <small id="userHelp" class="form-text text-danger">string is too short</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="default-form-box"><label> Email <span>*</span></label> <input type="email" class="form-control" formControlName="email">
                        <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched )">
                            <div *ngIf="f.email.errors">
                                <div *ngIf="f.email.errors.required">
                                    <small id="userHelp" class="form-text text-danger">Can't be left blank</small>
                                </div>
                                <div *ngIf="f.email.errors.email">
                                    <small id="userHelp" class="form-text text-danger">Malformed</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="default-form-box"><label> Phone <span>*</span></label> <input type="text" id="phone" name="phone" class="form-control" formControlName="phone">
                        <div *ngIf="f.phone.invalid && (f.phone.dirty || f.phone.touched )">
                            <div *ngIf="f.phone.errors">
                                <div *ngIf="f.phone.errors.required">
                                    <small id="userHelp" class="form-text text-danger">Can't be left blank</small>
                                </div>
                                <div *ngIf="f.phone.errors.pattern">
                                    <small id="userHelp" class="form-text text-danger">Malformed</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="default-form-box"><label for="password">Password<span>*</span></label> <input type="password" class="form-control" formControlName="password">
                        <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched )">
                            <div *ngIf="f.password.errors">
                                <div *ngIf="f.password.errors.required">
                                    <small id="userHelp" class="form-text text-danger">Can't be left blank</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="default-form-box"><label> Your address </label> <input type="textarea" id="diachi" name="diachi" class="form-control" formControlName="address">

                    </div>
                    <div class="default-form-box"><label> Date of birth</label> <input type="date" id="date" name="date" class="form-control" formControlName="date">

                    </div>

                    <div class="login_submit">
                        <button class="">Registed</button>
                    </div>
                    <div class="remember_area"><label class="checkbox-default"><input type="checkbox">
                            <span>Remember
                                me</span></label></div> <a routerLink="/login" class="">Have an account?</a>
                </form>
            </div>
        </div>
    </div>
</div>