.table>tbody>tr>td,
.table>tfoot>tr>td {
    vertical-align: middle;
}

.container-fluid .name-bar {
    justify-content: space-around;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0 auto;
    margin-bottom: 3%;
    margin-top: 3%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-family: Italiana;
}

.container-fluid .name-bar h3 {
    text-align: left;
    margin: 0 auto;
}

.text3 {
    font-family: Arial, Helvetica, sans-serif;
}

.qty div span {
    font-weight: 500;
}

.qty div input {
    padding-bottom: 20px;
    padding-top: 15px;
    background-color: white;
    color: black;
    text-align: center;
    border: 1px solid black;
}

@media screen and (max-width: 600px) {
    table#cart tbody td .form-control {
        width: 20%;
        display: inline !important;
    }
    .actions .btn {
        width: 36%;
        margin: 1.5em 0;
    }
    .actions .btn-info {
        float: left;
    }
    .actions .btn-danger {
        float: right;
    }
    table#cart thead {
        display: none;
    }
    table#cart tbody td {
        display: block;
        padding: .6rem;
        min-width: 320px;
    }
    table#cart tbody tr td:first-child {
        background: #333;
        color: #fff;
    }
    table#cart tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        width: 8rem;
    }
    table#cart tfoot td {
        display: block;
    }
    table#cart tfoot td .btn {
        display: block;
    }
}