<div class="container-fluid">
    <main>
        <div class="jumbotron col-lg-10 col-md-10 col-12 text-center">
            <h1>Wearing jewelry is the way to express who you are... <br> Withour saying a word.</h1>
        </div>
        <div class="jwelry-home row col-lg-10 col-md-10 col-12">
            <div class="jwelry-home-left col-lg-7 col-md-7 col-12">
                <img src="../../../assets/image/Jwelry_home_img1.jpg" class="col-lg-12 col-md-12 col-12" width="100%">
            </div>
            <div class="jwelry-home-right col-lg-4 col-md-4 col-12">
                <img src="../../../assets/image/Jwelry_home_img2.jpg" class="col-lg-12 col-md-12 col-12" width="100%" style="margin-bottom: 5%;">
                <div class="col-lg-12 col-md-12 col-12 text-center">
                    <a routerLink="alljwelry">
                        <h4>Get some jwelry --></h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="jumbotron col-lg-10 col-md-10 col-12 text-center ">
            <h1>There are no ugly women,<br> only lazy ones.</h1>
        </div>
        <div class="cosmetic-home row col-lg-10 col-md-10 col-12 ">
            <div class="cosmetic-home-left col-lg-7 col-md-7 col-12 ">
                <img src="../../../assets/image/cosmetic_home_img1.jpg" class="col-lg-12 col-md-12 col-12 " style="width: 100%; ">
            </div>
            <div class="cosmetic-home-right col-lg-4 col-md-4 col-12 ">
                <img src="../../../assets/image/cosmetic_home2.jpg" class="col-lg-12 col-md-12 " width="100%" style="margin-bottom: 5%;">
                <div class="col-lg-12 col-md-12 col-12 text-center">
                    <a routerLink="allcosmetic">
                        <h4>Get some cosmetic --></h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="jumbotron founder text-center col-lg-10 col-md-10 ">
            <h2 class="col-lg-12 col-md-12 ">3 FOUNDER</h2>
        </div>
        <div class="founder-home col-lg-10 col-md-10 row ">
            <div class=" card col-lg-3 col-md-3  text-center " style="margin-bottom: 5%; ">
                <img class="card-img-top " src="../../../assets/image/founder1.png" alt=" ">
                <div style="background:#e9ecef ; ">
                    <h3 class="card-title ">Bui Hieu</h3>
                    <h4 class="card-text ">Model</h4>
                </div>
            </div>
            <div class=" card col-lg-3 col-md-3  text-center " style="margin-bottom: 5%; ">
                <img class="card-img-top " src="../../../assets/image/founder1.jpg" alt=" ">
                <div style="background:#e9ecef ; ">
                    <h3 class="card-title ">Ali Tran</h3>
                    <h4 class="card-text ">Model</h4>
                </div>
            </div>
            <div class=" card col-lg-3 col-md-3  text-center " style="margin-bottom: 5%; ">
                <img class="card-img-top " src="../../../assets/image/founder2.png" alt=" ">
                <div style="background:#e9ecef ; ">
                    <h3 class="card-title ">Minh Sang</h3>
                    <h4 class="card-text ">Model</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 text-center more ">
            <a routerLink="about">
                <h3>More about us -----></h3>
            </a>
        </div>
        <div class="jumbotron blog text-center col-lg-10 col-md-10 ">
            <h2 class="col-lg-12 col-md-12 ">BLOG</h2>
        </div>
        <div class="blog-home col-lg-10 col-md-10 ">
            <div class="row ">
                <img src="../../../assets/image/blog_img1.jpg" class="col-lg-6 col-md-12 " width="100% ">
                <div class="blog-title col-lg-6 col-md-12 " style="padding-top: 3%;">
                    <h2>Low-cost high-quality</h2>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat vel quas doloremque, tempora dolorum rerum architecto harum similique, nemo dicta cupiditate modi cum tempore ut dolorem eaque consectetur, perspiciatis dolore. </h4>
                    <a routerLink=" ">
                        <h4>More -----></h4>
                    </a>
                </div>
            </div>
            <div class="row ">
                <img src="../../../assets/image/blog_img2.jpg" class="col-lg-6 col-md-12 " width="100% ">
                <div class="blog-title col-lg-6 col-md-12 " style="margin-top: 3%;">
                    <h2>Attraction</h2>
                    <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio quod commodi exercitationem delectus dolores, laborum incidunt ea similique placeat quibusdam possimus sequi voluptatibus dolor mollitia modi sed qui quaerat? Dolorem!</h4>
                    <a routerLink=" ">
                        <h4>More -----></h4>
                    </a>
                </div>
            </div>
            <div class="row ">
                <img src="../../../assets/image/blog_img3.jpg" class="col-lg-6 col-md-12 " width="100% ">
                <div class="blog-title col-lg-6 col-md-12 " style="padding-top: 3%;">
                    <h2>The power of makeup</h2>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ut tempora explicabo delectus. Consequatur, placeat magni. Molestias sit aspernatur voluptate voluptatibus earum neque cumque nostrum totam! Commodi mollitia porro debitis!</h4>

                    <a routerLink=" ">
                        <h4>More -----></h4>
                    </a>

                </div>
            </div>
        </div>
    </main>
</div>